html,
body {
	height: 100%;
}

.main {
	max-width: 1500px;
	margin: auto;
}

body {
	margin: 2px;
	border-radius: 10px;
	font-size: 12pt;
	color: rgba(0, 0, 0, 0.6);
	background-color: #f1f1f1;
	padding: 20px;
	font-family: Arial;
}

.con {
	margin: 0px auto;
	width: 1500px;
}

.pic1 {
	width: 500px;
	height: 500px;
	border-radius: 100px;
	transition: transform 1s;
}

.pic2 {
	width: 400px;
	height: 500px;
	border-radius: 100px;
	transition: transform 1s;
}

.pic3 {
	width: 500px;
	height: 500px;
	border-radius: 100px;
	transition: transform 1s ease;

}

.pic4 {
	width: 800px;
	height: 500px;
	border-radius: 100px;
	transition: transform 1s;
}

.pic1:hover {
	cursor: pointer;
	transform: rotate(360deg)scale(1.5);
	-ms-transform: rotate(360deg)scale(1.5);
	-webkit-transform: rotate(360deg)scale(1.5);
}

.pic2:hover {
	cursor: pointer;
	transform: rotate(360deg)scale(1.2);
	-ms-transform: rotate(360deg)scale(1.2);
	-webkit-transform: rotate(360deg)scale(1.2);
}


.pic3:hover {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.pic4:hover {
	transform: scale(1.8);
	-ms-transform: scale(1.8);
	-webkit-transform: scale(1.8);
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	font-size: 20pt;
	color: #000000;
	text-align: center;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 30pt;
	color: #000000;
	text-align: center;
}

.me {
	text-align: center;
	font-size: 12pt;
}

.icon {
	width: 100px;
	height: 100px;
	transition: transform 2s;
	margin: 20px;
}

.icon:hover {
	cursor: pointer;
	transform: rotate(3600deg)scale(1.8);
	-ms-transform: rotate(3600deg)scale(1.8);
	-webkit-transform: rotate(3600deg)scale(1.8);
}

.button {
	display: inline-block;
	border-radius: 14px;
	background-color: #636363;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 15px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	display: inline-block;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

li {
	overflow: hidden;
	text-align: center;
	font-size: large
}

p,
ol,
ul {
	margin-top: 0;
	padding: 0;
	text-align: center;
	color: black;
}

p {
	line-height: 180%;
}

#header {
	text-align: center;
}

#pic {
	padding: 0em 0em 4em 0em;
}

#mp {
	height: 60px;
}

#mp li {
	display: inline-block;
}

#mp li a,
#mp li span {
	display: inline-block;
	padding: 0px 3em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	outline: 0;
	color: rgb(255, 255, 255);
}

.content {
	background-color: rgb(194, 194, 194);
	padding: 10px;
}

.container2 {
	width: 100%;
	background-color: #ddd;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.skills {
	text-align: right;
	font-size: 14pt;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(0, 0, 0);
}

.html {
	width: 50%;
	background-color: #808080;
}

.css {
	width: 50%;
	background-color: #808080;
}

.js {
	width: 30%;
	background-color: #808080;
}

.php {
	width: 10%;
	background-color: #808080;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 30px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 20px;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
	margin: auto;
}

.mySlides {
	display: none;
	margin: auto;
}

.pics {
	position: relative;

}

.pics img {
	position: absolute;
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}

.pics img:last-child:hover {
	opacity: 0;
}

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: rgb(73, 73, 73);
	top: 0;
	bottom: 0;
	left: 20%;
	margin-left: -3px;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 45%;
}

.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: 25px;
	background-color: rgb(0, 0, 0);
	border: 4px solid #5f5f5f;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}


.right {
	left: 20%;
}

.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.right::after {
	left: -16px;
}

.content2 {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}